:root {
  --primary: #0000003b;
  --secondary: #00000017;
  --tertiary: #00000017;
  --exploded: 0;
  --start-x: -28;
  --start-y: -28;

  --base:              #04ff00;
  --bg-blend:          multiply;
  --blur:              0px;
  --fg-blend:          lighten;
  --foreground:        #0000008c;
  --opacity:           .8;
  --spacing:           10px;

  --shadowAlpha_1 : 19px;
  --shadowAlpha_2 : 38px;
  
  --showLogo: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}